[Desktop Entry]
Type=Application
Name=KIcon Viewer
Exec=/usr/bin/kiconviewer
Icon=kicon-viewer
Comment=Utility for viewing Icons
Categories=Qt;System;Documentation
GenericName=Icon Preview Utiltiy
MimeType=image/svg+xml
