[Desktop Entry]
Type=Application
Name=Ikona
Exec=/usr/bin/ikona
Icon=ikona
Comment=Utility for viewing Icons
Categories=Qt;System;Documentation
GenericName=Icon Preview Utiltiy
MimeType=image/svg+xml
