[Desktop Entry]
Type=Application
Name=Ikona
Name[ca]=Ikona
Name[ca@valencia]=Ikona
Name[cs]=Ikona
Name[de]=Ikona
Name[en_GB]=Ikona
Name[es]=Ikona
Name[et]=Ikona
Name[eu]=Ikona
Name[fi]=Ikona
Name[fr]=Ikona
Name[gl]=Ikona
Name[ia]=Ikona
Name[it]=Ikona
Name[ko]=Ikona
Name[lt]=Ikona
Name[nl]=Ikona
Name[nn]=Ikona
Name[pl]=Ikona
Name[pt]=Ikona
Name[pt_BR]=Ikona
Name[ro]=Ikona
Name[ru]=Ikona
Name[sk]=Ikona
Name[sl]=Ikona
Name[sv]=Ikona
Name[uk]=Ikona
Name[x-test]=xxIkonaxx
Name[zh_CN]=Ikona
Name[zh_TW]=Ikona
Exec=ikona
Comment=Utility for viewing Icons
Comment[ca]=Utilitat per a visualitzar icones
Comment[ca@valencia]=Utilitat per a visualitzar icones
Comment[cs]=Nástroj pro prohlížení ikon
Comment[de]=Dienstprogramms zur Anzeige von Symbolen
Comment[en_GB]=Utility for viewing Icons
Comment[es]=Utilidad para visualizar iconos
Comment[et]=Ikoonide näitamise tööriist
Comment[eu]=Ikonoak ikusteko baliagarritasuna
Comment[fi]=Työkalu kuvakkeiden katseluun
Comment[fr]=Utilitaire d'affichage d'icônes
Comment[gl]=Utilidade para ver iconas
Comment[ia]=Utilitate per vider icones
Comment[it]=Programma per visualizzare le icone
Comment[ko]=아이콘 보기 유틸리티
Comment[lt]=Piktogramų peržiūros paslaugų programa
Comment[nl]=Hulpprogramma voor het bekijken van pictogrammen
Comment[nn]=Verktøy for vising av ikon
Comment[pl]=Narzędzie do oglądania ikon
Comment[pt]=Utilitário de visualização de ícones
Comment[pt_BR]=Utilitário para visualização de ícones
Comment[ro]=Utilitar de previzualizat pictograme
Comment[sk]=Nástroj na prehliadanie ikon
Comment[sl]=Pomožni program za ogled ikon
Comment[sv]=Verktyg för att visa ikoner
Comment[uk]=Програма для перегляду піктограм
Comment[x-test]=xxUtility for viewing Iconsxx
Comment[zh_CN]=图标查看工具
Comment[zh_TW]=圖示檢視工具
Categories=Qt;System;Documentation
GenericName=Icon Preview Utility
GenericName[ca]=Utilitat per a la vista prèvia de les icones
GenericName[ca@valencia]=Utilitat per a la vista prèvia de les icones
GenericName[cs]=Nástroj pro prohlížení ikon
GenericName[en_GB]=Icon Preview Utility
GenericName[es]=Utilidad de vista previa de iconos
GenericName[et]=Ikoonide eelvaatluse tööriist
GenericName[eu]=Ikonoak aurreikusteko baliagarritasuna
GenericName[fi]=Kuvakkeiden esikatselutyökalu
GenericName[fr]=Utilitaire d'aperçu d'icônes
GenericName[gl]=Utilidade de vista previa de iconas
GenericName[ia]=Utilitate de vista preliminari de icone
GenericName[it]=Programma per l'anteprima di icone
GenericName[ko]=아이콘 미리 보기 유틸리티
GenericName[lt]=Piktogramų peržiūros paslaugų programa
GenericName[nl]=Hulpprogramma voor voorvertoning van pictogrammen
GenericName[nn]=Førehandsvising av ikon
GenericName[pl]=Narzędzie do podglądu ikon
GenericName[pt]=Utilitário de Antevisão de Ícones
GenericName[pt_BR]=Utilitário de visualização de ícones
GenericName[ro]=Utilitar pentru previzualizarea pictogramelor
GenericName[sk]=Nástroj na náhľady Ikona
GenericName[sl]=Pomožni program za predogled ikon
GenericName[sv]=Ikonförhandsgranskningsverktyg
GenericName[uk]=Програма для перегляду піктограм
GenericName[x-test]=xxIcon Preview Utilityxx
GenericName[zh_CN]=图标预览工具
GenericName[zh_TW]=圖示預覽工具
MimeType=image/svg+xml
Icon=org.kde.Ikona
