[Desktop Entry]
Type=Application
Name=Ikona
Name[ca]=Ikona
Name[nl]=Ikona
Name[pt]=Ikona
Name[ru]=Ikona
Name[sk]=Ikona
Name[uk]=Ikona
Name[x-test]=xxIkonaxx
Exec=ikona
Comment=Utility for viewing Icons
Comment[ca]=Utilitat per a visualitzar icones
Comment[nl]=Hulpprogramma voor het bekijken van pictogrammen
Comment[pt]=Utilitário de visualização de ícones
Comment[sk]=Nástroj na prehliadanie ikon
Comment[uk]=Програма для перегляду піктограм
Comment[x-test]=xxUtility for viewing Iconsxx
Categories=Qt;System;Documentation
GenericName=Icon Preview Utility
GenericName[ca]=Utilitat per a la vista prèvia de les icones
GenericName[nl]=Hulpprogramma voor voorvertoning van pictogrammen
GenericName[pt]=Utilitário de Antevisão de Ícones
GenericName[sk]=Nástroj na náhľady Ikona
GenericName[uk]=Програма для перегляду піктограм
GenericName[x-test]=xxIcon Preview Utilityxx
MimeType=image/svg+xml
Icon=org.kde.Ikona
